.about-us {
  &.section .section-title {
    display: none;
  }

  &.list {
    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
  }
}

.about-us-item {
  @media screen and (max-width: 767px) {
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  @media screen and (max-width: 1199px) {
    width: 100%;

    &:nth-child(2n + 1) {
      margin-right: 30px;
    }

    &:nth-child(-n + 2) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 4);
    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &::before {
    display: block;
    content: "";
    height: 120px;
    background-color: #f5f4fa;
    border-radius: 4px;
    margin-bottom: 30px;
    background-size: 70px 70px;
    background-position: center;
    background-repeat: no-repeat;
  }

  .headline {
    @include fonts(700, 14px, 0.875, 0.03em);

    @media screen and (max-width: 767px) {
      text-align: center;
    }

    @media screen and (min-width: 1200px) {
      @include fonts(700, 14px, 1.14, 0.03em);
    }

    text-transform: uppercase;
    margin-bottom: 10px;
  }

  &.icon-details::before {
    background-image: url("../images/about-us/antenna.svg");
  }

  &.icon-punctuality::before {
    background-image: url("../images/about-us/clock.svg");
  }

  &.icon-planning::before {
    background-image: url("../images/about-us/diagram.svg");
  }
  &.icon-up-to-date::before {
    background-image: url("../images/about-us/astronaut.svg");
  }
  .description {
    @include fonts(400, 14px, 1.71, 0.03em);
    color: $description-text-color;
  }
}
