.activity {
  &.section {
    margin-bottom: 94px;
  }

  &.list {
    display: flex;
    justify-content: center;
  }

  .activity .description {
    color: #ffffff;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    @include fonts(700, 14px, 1.14, 0.03em);
    text-transform: uppercase;
    text-align: center;
    padding-top: 27px;
    padding-bottom: 27px;
    background-color: rgba(47, 48, 58, 0.8);
  }
}

.activity-item:not(:last-child) {
  margin-right: 30px;
}

.activity-description {
  position: relative;
}
