.team.section {
  background-color: $team-section-bg-color;
  margin-bottom: 94px;
  padding-top: 94px;
  padding-bottom: 94px;

  .team.list {
    display: flex;
    justify-content: center;
  }
}

.team-member {
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
  background: #ffffff;

  &:not(:last-child) {
    margin-right: 30px;
  }

  .photo {
    margin-bottom: 30px;
  }

  .info {
    padding-bottom: 24px;
  }
}

.team {
  .name,
  .position {
    @extend %team-text;
  }

  .name {
    color: $primary-text-color;
    text-align: center;
    margin-bottom: 10px;
  }
  .position {
    color: $description-text-color;
    text-align: center;
    margin-bottom: 16px;
  }
}
