.logo {
  color: $primary-text-color;
  font-family: Raleway;

  @include fonts(500, 24px, 1.1667, 0.03em);
  margin-right: 85px;

  &-web-part {
    color: $accent-color;
  }

  @media screen and (min-width: 768px) {
    @include fonts(500, 26px, 1.19, 0.03em);
  }
}
